* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    height: 110px;
    position: left;}

body {
    font-family: 'noto sans', 'times new roman', sans-serif;
    background: white;
    color: #000000;
    text-align: center;
}

#cabeçalho {
    background-color: black;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}
#cabeçalho a:hover {
    background: white;
    color: gray;
}

.menu-lang{
    background-color: #000000;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.menu-list,
.menu-lang{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
    margin-top: 30px;
}

.btn{
    border: #ffffff;
    color: white;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
}

.icon{height: "20";}

.acessibilidade{
    color: white;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
    }

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 5px 20px;
    text-decoration:none;
    font-size: 18px;
}


nav ul li {
    display: inline-block;
    float: none;
}

nav ul li a{
    padding: 0.5em 1.5em;
    line-height: 2.1em;
}


.rodapé {
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
}

.rodapé {
    font-weight: bold;
}

.dark-mode {
 background-color:black;
 color: white;}

.dark-mode p, footer{background-color: black;
    color: white;}

.dark-mode figcaption{background-color: black;
color: gray;}

.intro{
    padding: 2px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);}

p {
    margin-top: 10px;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    align-self: center;
    text-align: center;
    background: white;
    margin: auto;
}

.cont {
    margin-top: 10px;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    align-self: center;
    text-align: center;
    background: white;
    margin: auto;
}

h1{    
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);}

h2{
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);}

h3{padding: 20px;}

img{
    margin: auto;
    display: block;
    padding: 15px;
}

figcaption{
    margin-top: 10px;
    width: 50%;
    padding: 6px;
    border-radius: 5px;
    font-size: 14px;
    align-self: center;
    text-align: center;
    background: white;
    margin: auto;
    color:gray;
}



.red{color:red;
font-weight: bold;}

.bold{font-weight: bold;}